
<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let fruit of elementosEscolhidos"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(fruit)">
        {{fruit[valorAtrb]}} 
        <!-- <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon> -->
        &nbsp;<ion-icon matChipRemove *ngIf="removable" name="ios-close"></ion-icon>
      </mat-chip>
      <input
        [placeholder]="placeholder"
        #myInput
        (click)="listarNoClick()"
        [formControl]="formCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of elementos" [value]="fruit">
        {{fruit[valorAtrb]}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> 

